.dev-page {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F4F4;
    overflow: hidden;
}

.dev-page h1 {
    font-size: 50px;
    text-align: left; /* Center the heading */
    margin-left: 50px;
    margin-top: 50px;
    color: #4E0C0C;
}

.dev-page .top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.dev-page .top-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #000000;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.dev-page .top-button:hover {
    background-color: #4E0C0C;
    color: #FFFFFF;
}

.dev-page .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.dev-page .left-container {
    width: 30%; 
    box-sizing: border-box;
    text-align: right;
    overflow: hidden;
}

.dev-page .right-container {
    width: 65%;
    box-sizing: border-box;
}

.dev-page .divider {
    width: 2px;
    background-color: #000000;
    height: 75vh;
}

.dev-page .container {
    display: flex;
    height: calc(100vh - 100px);
    margin: 20px;
    position: relative;
}

.dev-page .left-container {
    width: 30%;
    box-sizing: border-box;
    text-align: right;
    position: sticky;
    top: 0;
}

.dev-page .divider {
    width: 2px;
    background-color: #000000;
    height: 85%;
    position: sticky;
    top: 0;
}

.dev-page .right-container {
    width: 65%;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%;
}

.dev-page .project-header {
    font-size: 36px;
    font-family: 'Roboto Serif', serif;
}

.dev-page .project-titles {
    font-size: 20px;
    font-family: 'Roboto Serif', serif;
    color: #6c1414;
}

.dev-page .underline {
    text-decoration: underline;
}

.dev-page .red-highlight {
    background-color: #58313125;
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: inline-block;
}

.dev-page .title-allergeat {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.dev-page .tech-details {
    font-size: 16px;
    font-style: italic;
    font-family: 'Roboto Serif', sans-serif;
    margin-top: 10px;
}

.dev-page .concept-details {
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Roboto Serif', serif;
    font-weight: bolder;
}

.dev-page .concept-details h2, .concept-details h3 {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.dev-page .concept-details h4 {
    font-size: 17px;
    font-weight: bolder;
}

.dev-page .concept-details ul {
    font-size: 15px;
    margin-top: 10px;
    margin-right: 20px;
}

.dev-page .concept-details ul li {
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.dev-page .concept-details ul li strong {
    font-size: 15px;
    font-weight: bold;
}

.dev-page .description {
    display: none;
}

.dev-page .description.active {
    display: block;
}

.dev-page .project-titles:hover {
    cursor: pointer;
}

.dev-page .image-comparison {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dev-page .image-container {
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}

.dev-page .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dev-page .selected-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #c0a5a5;
    transition: font-size 0.3s ease
}