/* body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0; */
    /* background-color: #F5F4F4; */
    /* background: #1b0000; */
/* } */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F5F4F4;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
    z-index: 1;
}

h5 {
    font-size: 700%;
    font-weight: 500px;
    color: #4E0C0C;
    text-align: left;
    font-family: 'Bebas Neue';
    position: absolute;
    top: 80px;
    right: 250px;
    transform: translateX(50%);
}

h6 {
    font-size: 700%;
    font-weight: 500px;
    color: #4E0C0C;
    text-align: left;
    font-family: 'Bebas Neue';
    position: absolute;
    top: 100px;
    right: 250px;
    transform: translateX(50%);
}

.arrow-button {
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    color: #4E0C0C;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 445px;
    right: 250px;
    transform: translateX(50%) translateY(50%) rotate(90deg);
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.right-container {
    width: 45%;
    padding: 20px;
    margin-top: 110px;
    box-sizing: border-box;
}

.content {
    margin-top: 20px;
    position: relative;
}

.highlight-box {
    background-color: rgba(255, 255, 255, 0.302);
    padding: 10px;
    position: absolute;
    margin-left: 18px;
    margin-top: 35px;
    width: 200px;
    height: 20px;
    z-index: -1;
}
.highlight-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: linear-gradient(to right, rgba(78, 12, 12, 0.302), #ffff0000 70%);
    transform: skewX(-20deg);
    z-index: -1;
}

p.red-text {
    color: #8b2f2f;
    font-weight: bold;
}

h1, h2, p {
    color: #4E0C0C;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
h1 {
    font-size: 50px;
    margin-top: 900px;
}
h2 {
    font-size: 24px;
}
p, ul {
    font-family: 'Roboto Serif', serif;
    color: #4E0C0C;
}
ul {
    margin-top: 0;
    padding-left: 20px;
}
.top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.top-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #4E0C0C;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 18px;
}
.top-button:hover {
    background-color: #4E0C0C;
    color: #FFFFFF;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 900px;
}
.grid-item {
    text-align: center;
}

.grid-item img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item p {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.grid-item:hover {
    transform: scale(1.1);
}