body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 60px;
    padding: 0;
    background-color: #F5F4F4;
}
.content {
    width: 50%;
    margin: auto;
    text-align: left;
}
h1 {
    font-size: 50px;
    color: #4E0C0C;
}
.top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.top-button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #000000;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 18px;
}
.top-button:hover {
    background-color: #4E0C0C;
    color: #FFFFFF;
}
.highlight-box {
    position: absolute;
    margin-left: 10px;
    margin-top: 65px;
    width: 370px;
    height: 30px;
    overflow: hidden;
}
.highlight-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, rgba(78, 12, 12, 0.302), #ffff0000 70%);
    transform: skewX(-20deg);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px #4E0C0C;
    animation: float 6s ease-in-out infinite;
}

.allergeat-container, .carbcons-container, .portfolio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 65px;
}

.allergeat {
    max-width: 50%;
    border: 1px solid #4E0C0C;
}

.allergeat-title, .carbcons-title, .portfolio-title {
    font-size: 28px;
    line-height: 1.4;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    margin: 0;
    flex: 1;
}

.allergeat-subtitle, .carbcons-subtitle, .portfolio-subtitle {
    font-size: 22px;
}

.allergeat-text, .carbcons-text, .portfolio-text {
    font-size: 16px;
}

.carbcons {
    max-width: 50%;
    border: 1px solid #4E0C0C;
    animation-delay: 2s;
}

.portfolio {
    max-width: 50%;
    border: 1px solid #4E0C0C;
    animation-delay: 4s;
}

.red-highlight {
    background-color: #58313125;
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.project-button {
    background-color: #4E0C0C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: #7C1D1D;
}

.allergeat-buttons, .carbcons-buttons, .portfolio-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.typing-text-container {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.cursor {
    margin-left: 0px;
    color: black;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}