body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-side {
    width: 30%;
    background-color: #4e0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.right-side {
    width: 70%;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: black;
    padding-left: 50px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 500%;
    margin-bottom: 1px;
    text-align: left;
    font-weight: 500;
}

p {
    font-size: 300%;
    color: #6e5858;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
}

.buttons {
    display: flex;
    gap: 10px;
}

.circle {
    width: 295px;
    height: 300px;
    border-radius: 100px;
    border-color: black;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #ff9e9e55;
}

.circle-overlay {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.2s ease;
}

.circle1 {
    top: 318px;
    left: 43.5%;
    transform: translateX(-50%);
    width: 8px;
    height: 10px;
    background-color: #d7d4d4;
}

.circle2 {
    top: 320px;
    left: 54.5%;
    transform: translateX(-50%);
    width: 8px;
    height: 10px;
    background-color: #d7d4d4;
}

.circle img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.speech-bubble {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #000000;
    border-radius: 40px;
    border-color: black;
    padding: 24px;
    text-align: left;
    color: #fff;
    left: calc(70% + 50px);
    top: 100px;
    transform: translateX(-50%);
    z-index: 1;
}

.speech-bubble-tail:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 24px solid #000000;
    border-right: 12px solid transparent;
    border-top: 12px solid #000000;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.speech-bubble .cursor {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: inline;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    width: auto;
}

.about-me {
    background-color: #FFFFFF;
}

.about-me:hover {
    background-color: #b3b2b2;
}

.projects, .resume {
    background-color: #4E0C0C;
    color: white;
}

button:hover {
    background-color: #1b0303;
}

.social-icons {
    margin-top: 1px;
}

.social-icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.github-icon {
    width: 60px;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
    filter: invert(100%);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}



/* body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-side {
    width: 30%;
    background-color: #4E0C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.character {
    position: relative;
    margin-bottom: 20px;
}

.character-img {
    width: 250px;
    height: 250px;
    background-image: url('images/character.png');
    background-size: cover;
    border-radius: 50%;
    animation: wave 2s infinite;
}

.speech-bubble {
    top: -540;
    left: 100%;
    margin-left: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    border: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 150px;
    text-align: center;
}

@keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    width: auto;
}

.about-me {
    background-color: #FFFFFF;
}

.about-me:hover {
    background-color: #b3b2b2;
}

.projects, .resume {
    background-color: #4E0C0C;
    color: white;
}

button:hover {
    background-color: #1b0303;
}

.social-icons {
    margin-top: 1px;
}

.social-icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.github-icon {
    width: 60px;
    height: 50px;
    cursor: pointer;
    margin-right: 5px;
    filter: invert(100%);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
} */
