body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4F4;
    background-size: cover;
    z-index: -1;
}

h1 {
    /* font-size: 780%; */
    font-size: 9vw;
    color: #4E0C0C;
    text-align: center;
    font-weight: 500;
    font-family: 'Bebas Neue';
    position: absolute;
    /* top: 180px; */
    top: 23vh;
    z-index: 1;
}
p {
    /* font-size: 420%; */
    font-size: 5vw;
    color: #4E0C0C;
    margin: 0;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    position: absolute;
    /* top: 390px; */
    top: 51vh;
    z-index: 1;
}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 130px;
    position: absolute; 
    z-index: 1;
}

.about-me {
    background-color: #4E0C0C;
    color: #F5F4F4;
    /* top: 495px; */
    top: 64vh;
    /* left: 500px; */
    left: 34vw;
}

.projects {
    background-color: #4E0C0C;
    color: #F5F4F4;
    /* top: 495px; */
    top: 64vh;
    /* left: 650px; */
    left: 45vw;
}

.resume {
    background-color: #4E0C0C;
    color: #F5F4F4;
    /* top: 495px; */
    top: 64vh;
    /* left: 800px; */
    left: 56vw;
}

button:hover {
    background-color: #290303;
    color: #F5F4F4;
}

.dropbtn {
    background-color: #4E0C0C;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

.dropdown {
    top: 20px;
    right: 20px;
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4E0C0C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Big Shoulders Display', cursive;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #290303;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #290303;
}