body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4F4;
    background-size: cover;
    z-index: -1;
}

h1 {
    font-size: 780%;
    color: #4E0C0C;
    text-align: center;
    font-weight: 500;
    font-family: 'Bebas Neue';
    position: absolute;
    top: 180px;
    z-index: 1;
}
p {
    font-size: 420%;
    color: #4E0C0C;
    margin: 0;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    position: absolute;
    top: 390px;
    z-index: 1;
}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    width: 130px;
    position: absolute; 
    z-index: 1;
}

.about-me {
    background-color: #4E0C0C;
    color: #F5F4F4;
    top: 495px;
    left: 500px;
}

.projects {
    background-color: #4E0C0C;
    color: #F5F4F4;
    top: 495px;
    left: 650px;
}

.resume {
    background-color: #4E0C0C;
    color: #F5F4F4;
    top: 495px;
    left: 800px;
}

button:hover {
    background-color: #290303;
    color: #F5F4F4;
}

.balls-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.ball {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #d9d6d6;
    border-radius: 50%;
    pointer-events: none;
}